{{- if eq .location "work" }}
brew "go"
{{- end }}
tap "gcenx/wine"
tap "hashicorp/tap"
tap "heroku/brew"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
brew "act"
brew "xz"
brew "zstd"
brew "automake"
brew "coreutils"
brew "openssl@3"
brew "readline"
brew "asdf"
brew "bison"
brew "brew-cask-completion"
brew "glib"
brew "ccache"
brew "chezmoi"
brew "chruby"
brew "exa"
brew "sdl2"
brew "ffmpeg"
brew "findutils"
brew "fish"
brew "fnm"
brew "gcc"
brew "gh"
brew "git"
brew "graphicsmagick"
brew "httpd", restart_service: true
brew "jq"
brew "jsoncpp"
brew "kubernetes-cli"
brew "libhttpserver"
brew "make"
brew "mas"
brew "mosquitto"
brew "zlib"
brew "mysql"
brew "nmap"
brew "nodenv"
brew "octant"
brew "openjdk"
brew "sqlite"
brew "php"
brew "pipenv"
brew "postgresql@14"
brew "redis"
brew "ruby"
brew "ruby-install"
brew "ssh-copy-id"
brew "starship"
brew "taglib"
brew "wget"
brew "yarn"
brew "youtube-dl"
brew "hashicorp/tap/terraform"
brew "heroku/brew/heroku"
cask "1password"
cask "alfred"
cask "apache-directory-studio"
cask "applepi-baker"
cask "azure-data-studio-insiders"
cask "bartender"
cask "beyond-compare"
cask "caret"
cask "cyberduck"
cask "daisydisk"
cask "devonagent"
cask "devonthink"
cask "discord"
cask "docker"
cask "dotnet-sdk"
cask "dropbox"
cask "fig"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "font-inconsolata-go-nerd-font"
cask "font-inconsolata-nerd-font"
cask "font-sauce-code-pro-nerd-font"
cask "forklift"
cask "gitkraken"
cask "google-chrome"
cask "google-drive"
cask "iterm2"
cask "keyboard-maestro"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "microsoft-office"
cask "microsoft-teams"
cask "obsidian"
cask "openwebstart"
cask "parallels"
cask "powershell"
cask "slack"
cask "sourcetree"
cask "steam"
cask "sublime-text"
cask "the-unarchiver"
cask "transmission"
cask "transmit"
cask "visual-studio-code"
cask "vlc"
cask "wine-crossover"
cask "wireshark"
cask "xquartz"
cask "zulu"
mas "1Password for Safari", id: 1569813296
mas "Apple Configurator", id: 1037126344
mas "ASUS Device Discovery", id: 995124504
mas "Controller", id: 1198176727
mas "Day One", id: 1055511498
mas "Developer", id: 640199958
mas "Discovery", id: 1381004916
mas "Drafts", id: 1435957248
mas "DuckDuckGo Privacy for Safari", id: 1482920575
mas "Fiery Feeds", id: 1158763303
mas "Ghostery – Privacy Ad Blocker", id: 1436953057
mas "Grammarly for Safari", id: 1462114288
mas "Grocy Mobile", id: 1567803209
mas "Home Assistant", id: 1099568401
mas "HP Easy Scan", id: 967004861
mas "HP Smart", id: 1474276998
mas "iMovie", id: 408981434
mas "Instapaper Save", id: 1481302432
mas "Kerberos Ticket Autorenewal", id: 1246781916
mas "Keynote", id: 409183694
mas "Kindle", id: 405399194
mas "Kingdom Rush Vengeance+", id: 1610130712
mas "LG Screen Manager", id: 1142051783
mas "Microsoft Remote Desktop", id: 1295203466
mas "Microsoft To Do", id: 1274495053
mas "MQTT Explorer", id: 1455214828
mas "Numbers", id: 409203825
mas "OmniGraffle", id: 1142578753
mas "OneDrive", id: 823766827
mas "Outlanders", id: 1468558187
mas "Pages", id: 409201541
mas "Save to Pocket", id: 1477385213
mas "SecurID Authenticator", id: 318038618
mas "SongPop Party", id: 1551639567
mas "Speedtest", id: 1153157709
mas "TestFlight", id: 899247664
mas "Things", id: 904280696
mas "VI Monitor", id: 909932045
mas "VMware Remote Console", id: 1230249825
mas "Xcode", id: 497799835
mas "xLights", id: 1137297689
mas "xLights Tools", id: 1562578750
