[user]
	name = Travis Llewellyn
	email = "{{ .email }}"
[credential]
	helper = !git-credential-1password
[core]
	excludesfile = /Users/travisll/.gitignore
	editor = subl -n -w
[alias]
  co = checkout                     # git co my-branch
  po = pull origin                  # git po my-branch
  pso = push origin                 # git pso my-branch
  cm = commit -m                    # git cm "your commit message"
  br = branch                       # git br -D my-branch
  st = status                       # git st
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
                                    # git hist
  dns = diff --ignore-space-change  # git dns (dns stands for diff no space)
  dc = diff --cached                # git dc
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
